<!-- Page Content -->

<div class="container">
<br>
 <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Feedback</h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Feedback</li>
            </ol>
        </div>

        <div class="col-lg-12">
        
        </div>

    </div>
    <!-- /.row -->
<br>
<div class="col-lg-12">
	  <!-- <h1 ng-bind-html="myHtmlTitle"></h1> -->
	   <h1 ng-bind-html="myHTMLTitle"></h1>
 </div><br><br>
    <div class="row">
		<div class="col-lg-12">
		       <p ng-bind-html="myHTML"></p>
		 </div>
		 <div class="col-lg-12 clearfix">
		       <a class="pull-right" href="/#/news" title="Back to News">Back</a>
		 </div>
		 
    </div>
</div>
<!-- /.container -->
